<div class="row center">
  <div class="col-12">
    <h1>Welcome to duh Sample App</h1>
    <h3>This is duh hom peg for <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a> sample application.</h3>
    <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-danger" %>
    <%= link_to image_tag("http://founderdating.com/public/images/resource_logos/Austin%20On%20Rails%20logo.png", alt: "Rails",style: "height:200px;display:block;margin-left:auto;margin-right:auto;margin-top:20px;"), 'http://rubyonrails.org/' %>
  </div>
</div>