<div class="navbar navbar-fixed-bottom navbar-inverse" role="navigation">
  <div class="container">
    <div id="rails-tutorial-link" class="navbar-header">
      <a href="http://railstutorial.org/">Rails Tutorial</a>
      by Michael Hartl
    </div>
      <ul class="nav navbar-nav pull-right">
        <li><%= link_to "About",   about_path %></li>
        <li><%= link_to "Contact", contact_path %></li>
        <li><%= link_to "News", "http://news.railstutorial.org/", target: "_blank" %></li>
      </ul>
  <div>
</div>