<div class="navbar navbar-fixed-bottom navbar-inverse" role="navigation">
  <div class="container">
    <div id="rails-tutorial-link" class="navbar-header">
      <a href="http://railstutorial.org/">Rails Tutorial</a>
      by Michael Hartl
    </div>
      <ul class="nav navbar-nav pull-right">
        <li><%= link_to "About",   '#' %></li>
        <li><%= link_to "Contact", '#' %></li>
        <li><a href="http://news.railstutorial.org/">News</a></li>
      </ul>
  <div>
</div>